/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-header{
  top:0;
  left: 0;
  background-color:darkcyan;
  display: inline-block;
  margin-right: 2rem;
  padding: 16px;
  
}
.line-up{
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.post{
  border: darkcyan solid 2px;
  padding: .5rem;
  text-align: left;
  height: auto;
  border-radius: 5px;
  margin: .25rem;
}
.post-uploaded-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.like-button{
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
}

.navbar{
  display: block;
  background-color: darkcyan;
}
.nav-button{
  display: block;
  width: 80%;
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
}