


.accountContainer{

  
}
.account-header{
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  
}

.return-to-feed {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}
.return-to-feed-invisible{
  background-color: transparent;
  color: transparent;
}





.account-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.img{
  width: 70px;
  height: 70px;
  border-radius: 30px;
}