.accountContainer{
  
}
.account-header{
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.return-to-feed {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}

.account-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.img{
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.post{
  border: darkcyan solid 2px;
  padding: .5rem;
  text-align: left;
  height: auto;
  border-radius: 5px;
  margin: .25rem;
}
.post-uploaded-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 50vw;
  max-width: 50vh;
}
.like-button{
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: darkcyan;
  align-items: center ;
}

.nav-button{
  width: fit-content;
  height: fit-content;
  margin-right: 2rem;
}

.pfp-icon{
  height: 2rem;
  width: 2rem;
}

.post-button{
  position: fixed;
  background-color: lightseagreen;
  top: 85vh;
  left: 40vw;
  border-radius: 90px;
  border: darkcyan solid 2px;
  width: 20%;
  z-index: 0;
}

.post-button:hover{
  background-color: darkcyan;
}

.outer-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.425) ;
  overflow: hidden;
  align-content: center;
  z-index: 2;
}

.inner-modal{
  position: fixed;
  top:25vh;
  left:25vw;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vh;
  background-color: rgb(121, 212, 207);
  box-shadow: 0px 10px rgb(92, 146, 146);
  align-content: center;
  border: solid rgb(92, 146, 146) 2px;
  border-radius: 15px;
}

.modal-content{
  position: relative;
  color: white;
  text-align: center;
  background-color: cadetblue;
  margin-left: 4rem;
  margin-right: 4rem;
  border: solid rgb(92, 146, 146) 2px;
  border-radius: 15px;
}

.modal-items{
  margin: 1rem;}